header {
    font-size: 100px;
    color: darkred;
    clear: both;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

figure {
    display: inline-grid;
    overflow: hidden;
}

figcaption {
    font-size: 120%;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}
